a.navbar-brand, li.nav-item {
    font-size: 45px;
}

span.navbar-toggler-icon {
    height: 60px;
    width: 50px;
}

a.nav-link, button.navbar-toggler {
    margin: 0.45rem;
}


.logo {
    width: 100px;
    margin: 1.2rem;
}

span.badge {
    font-size: 45px;
    width: 70%;
    margin: 1% 15% 1% 15%;
}

d-flex {
    margin: 250px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}

